# Node Dependencies
node_modules/
docs/node_modules/

# VitePress Build & Cache
.vitepress/dist/
.vitepress/cache/
docs/.vitepress/dist/
docs/.vitepress/cache/

# OS & Temp Files
.DS_Store
Thumbs.db
*.log

# Env
.env
.env.local
