PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_API_BASE_URL=http://localhost:8080/api/v1
PUBLIC_APP_ENV=local
PUBLIC_DEFAULT_LOCALE=en
PUBLIC_SUPPORTED_LOCALES=en,my
PUBLIC_MAP_PROVIDER=maplibre
PUBLIC_MAP_TOKEN=
